header {
	padding: 37px 0;

	@media #{$lg-min} {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 100;
		transition: all .25s;

		&.fixed-header {
			background-color: rgba(0,0,0,.5);
			padding: 15px 0;
		}
	}

	@media #{$md-max} {
		padding: 20px 0;
	}

	@media #{$xs-max} {
		padding: 15px 0;
	}

	.logo {
		float: left;
		margin: 2px 0;

		img {
			vertical-align: top;
		}
	}

	.demo {

		@media #{$sm-min} {
			float: right;
			margin-left: 50px;
		}
	}
}

.nav-toggle {
	color: $white;
	position: relative;
	float: right;
	width: 40px;
	padding: 8px;
	background-color: transparent;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 2px solid;
	border-radius: $border-radius-base;
	// We remove the `outline` here, but later compensate by attaching `:hover`
	// styles to `:focus`.
	&:focus {
		outline: 0;
	}

	// Bars
	.icon-bar {
		display: block;
		border-top: 2px solid;
	}

	.icon-bar + .icon-bar {
		margin-top: 6px;
	}
}

.head-contacts {
	font-size: 12px;
	margin: 2px 0;
	padding: 0 0 0 10px;
	text-align: center;

	.holder {
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}

	@media #{$sm-min} {
		float: right;
	}

	strong {
		display: block;
		margin-left: -16px;
		font-size: 20px;
		line-height: 1;
	}

	a {
		color: inherit;
	}
}

.main-nav {
	margin: 0;
	padding: 11px 0;
	list-style: none;
	font-size: 0;
	font-weight: 700;
	color: $white;
	text-transform: uppercase;
	display: none;
	
	@media #{$sm-min} {
		text-align: center;
		display: block !important;
	}

	@media #{$md-max} {
		clear: both;
		padding: 20px 0 0 0;
		margin: 0 -10px;
	}

	@media #{$xs-max} {
		margin: 0;
		padding: 15px 0 0 0;
	}

	& > li {
		font-size: 11px;
		letter-spacing: normal;
		padding: 4px 0;

		@media #{$sm-min} {
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;
			padding: 0;
		}

		& > a {
			color: inherit;
		}
	}
}