html {
	height: 100%;
}

body {
	height: 100%;
	min-width: 320px;

	@media #{$md-max} {
		font-size: 17px;
	}

	@media #{$sm-max} {
		font-size: 16px;
	}

	@media #{$xs-max} {
		font-size: 14px;
	}
}

.section-primary {
	background-color: $brand-color-1;
	color: $white;
}

.section-warning {
	background-color: $brand-color-2;
	color: $white;
}

.section-grey {
	background-color: #f2f2f2;
}

.container {
	width: auto;
	max-width: 1340px;

	@media #{$sm-min} {
		padding-left: 45px;
		padding-right: 45px;
	}
}


.layout {
	overflow: hidden;
	position: relative;
}

.head-section {
	@extend .section-primary;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: relative;

	.promo {
		padding: 80px 0 40px;

		@media #{$lg-min} {
			padding-top: 200px;
		}

		@media #{$sm-max} {
			padding-top: 40px;
		}

		.head {
			display: block;
			font-size: 28px;
			line-height: 1.2148;

			@media #{$md-max} {
				font-size: 24px;
			}

			@media #{$sm-max} {
				font-size: 22px;
			}

			@media #{$xs-max} {
				font-size: 20px;
			}
		}

		.sub-head {
			font-size: 18px;
			line-height: 24px;
			margin: 40px 0 15px;

			strong {
				display: block;
			}
		}
	}

	.visual-holder {
		position: relative;
		text-align: center;
		margin-bottom: 30px;

		@media #{$md-min} {
			max-width: none;
			float: right;
			margin-right: -60px;
			margin-bottom: -120px;
		}

		@media #{$sm-max} {

			img {
				max-width: 100%;
			}
		}
	}
}

.link-underline {
	@extend %link-underline;
}

.block {
	display: block;
}

.feedback-modal {

	form {
		max-width: 230px;
		margin: auto;
	}

	.form-control {
		padding-left: 20px;
		padding-right: 20px;
	}

	label.error {
		left: 20px;
	}
}

.demo-forrester-modal {

	.modal-title {
		text-transform: none;
	}
}

.brand-title {
	font-size: 46px;
	line-height: 1.05;
	margin: 0 0 .5em;

	@media #{$md-max} {
		font-size: 40px;
	}

	@media #{$sm-max} {
		font-size: 36px;
	}

	@media #{$xs-max} {
		font-size: 28px;
	}
}

.brand-title-warning {
	color: $brand-color-2;
}

.promo-bottom {
	position: relative;
	padding: 100px 0 40px;

	.brand-title {
		padding: 25px 0 0 25px;

		@media #{$sm-max} {
			padding: 0;
		}
	}

	@media #{$sm-max} {
		padding-top: 40px;
	}

	@media #{$xs-max} {
		padding-bottom: 15px;
	}

	.text {
		font-size: 25px;
		line-height: 1.28;
		margin: 0 0 25px;
		padding-left: 25px;

		@media #{$md-max} {
			font-size: 22px;
		}

		@media #{$sm-max} {
			font-size: 20px;
			padding: 0;
		}

		@media #{$xs-max} {
			font-size: 18px;
		}
	}
}

@media #{$xm-max} {

	.xm-block {
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.ico-box {
	display: table;
	width: 100%;
	margin-bottom: 25px;

	@media #{$xs-max} {
		margin-bottom: 15px;
	}

	.cell {
		display: table-cell;
		vertical-align: middle;
	}

	.cell-ico {
		width: 44px;

		img {
			max-width: 100%;
			max-height: 44px;
		}
	}

	.cell-text {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: .1em;
		line-height: 20px;
		padding-left: 30px;
		font-weight: 700;

		@media #{$xs-max} {
			font-size: 12px;
			padding-left: 15px;
		}
	}
}

.sep {
	line-height: 0;
	border-top: 1px solid $light-grey;
}

.sep-brown {
	border-color: #d6982d;
}

.capabilities-section {
	padding: 80px 0;

	@media #{$md-max} {
		padding: 60px 0;
	}

	@media #{$sm-max} {
		padding: 40px 0;
	}

	@media #{$xs-max} {
		padding: 30px 0;
	}

	.head {
		text-align: center;
		font-size: 20px;
		line-height: 1.55;
		margin: 0 auto 2em;
		max-width: 580px;

		@media #{$md-max} {
			font-size: 18px;
		}

		@media #{$sm-max} {
			font-size: 16px;
		}

		@media #{$xs-max} {
			font-size: 14px;
		}

		.title {
			font-weight: 400;
			color: $brand-color-2;
			font-size: 1.8em;
		}
	}

	.head-text {
		font-size: 22px;
		line-height: 1.4;
		margin: 0 0 1.5em;

		@media #{$md-max} {
			font-size: 22px;
		}

		@media #{$sm-max} {
			font-size: 20px;
		}

		@media #{$xs-max} {
			font-size: 18px;
		}
	}

	.result {
		font-size: 16px;
		line-height: 1.625;
		margin-bottom: 1.625em;

		@media #{$md-max} {
			font-size: 15px;
		}

		@media #{$sm-max} {
			font-size: 14px;
		}

		@media #{$xs-max} {
			font-size: 13px;
		}

		strong {
			display: block;
			letter-spacing: .1em;
			text-transform: uppercase;
			color: #666;
		}
	}
}

.tab-content {

  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}

.dbl-row {
	@include custom-row(60px);
}

.half-row {
	@include custom-row(20px);
}

.tab-nav {
	margin: 40px -5px;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center;

	@media #{$md-max} {
		margin-top: 35px;
		margin-bottom: 35px;
	}

	@media #{$sm-max} {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	@media #{$xs-max} {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	& > li {
		margin: 5px;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 16px;
		padding: 6px 16px;
		border-radius: 15px;
		font-weight: 700;
		background: transparent;
		transition: all .25s;
		border: 1px solid $brand-color-1;

		&.active {
			color: $white;
			background: $brand-color-1;

			& > a {
				cursor: default;
			}
		}

		& > a {
			color: inherit;
			text-decoration: none;
		}
	}
}

.statisticks {
	@extend .section-warning;
	position: relative;
	padding: 60px 0 50px;

	@media #{$md-max} {
		padding: 50px 0;
	}

	@media #{$sm-max} {
		padding: 40px 0;
	}

	@media #{$xs-max} {
		padding: 30px 0;
		text-align: center;
	}

	.owl-nav {

		& > * {
			background: $white;
			color: $brand-color-2;
		}
	}

	.bx-controls {

		.bx-prev,
		.bx-next {
			background: $white;
			color: $brand-color-2;
		}
	}

	.statistick-box {
		font-size: 16px;
		line-height: 1.25;

		margin: 10px 0;

		.number {
			display: block;
			font-size: 1.25em;
			color: #000;

			strong {
				font-size: 3.5em;
				letter-spacing: -.02em;

				@media #{$md-max} {
					font-size: 3em;
				}

				@media #{$xs-max} {
					font-size: 1.5em;
				}
			}
		}
	}

	.text {
		font-size: 18px;
		line-height: 1.33;
		margin: 1.33em 0 0;
		font-weight: 700;
	}
}

.owl-nav {
	margin-top: 20px;

	@media #{$xm-min} {
		position: absolute;
		font-size: 0;
		top: 50%;
		width: 100%;
		height: 0;
		margin-top: 0;
	}

	& > * {
		display: inline-block;
		vertical-align: top;
		@include square(28px);
		background: $brand-color-2;
		color: $white;
		position: relative;
		opacity: 1;
		transition: all .25s;
		margin-top: -14px;

		&:hover {
			opacity: .9;
		}

		&:before {
			display: block;
			position: absolute;
			top: 9px;
			content: '';
			border-style: solid;
			border-width: 1px;
			transform: rotate(-45deg);
			@include square(9px);
		}

		& + * {
			margin-left: 5px;
		}
	}

	& > .owl-prev {
		float: left;
		font-size: 0;
		text-indent: -9999px;
	}

	& > .owl-prev:before {
		left: 12px;
		border-right-color: transparent !important;
		border-bottom-color: transparent !important;
	}

	& > .owl-next {
		font-size: 0;
		text-indent: -9999px;
		float: right;
	}

	& > .owl-next:before {
		left: 7px;
		border-left-color: transparent !important;
		border-top-color: transparent !important;
	}
}

.bx-wrapper {
	position: relative;
	

	@media #{$xm-min} {
		padding: 0 60px;
	}
}

.bx-controls {
	margin: 40px 0 0;
	

	@media #{$xm-min} {
		position: absolute;
		left: 0;
		top: 50%;
		height: 0;
		width: 100%;
		z-index: 100;
		margin: 0;
	}

	.bx-prev,
	.bx-next {
		display: inline-block;
		vertical-align: top;
		@include square(28px);
		background: $brand-color-2;
		color: $white;
		position: relative;
		opacity: 1;
		transition: all .25s;
		margin-top: -14px;

		&:hover {
			opacity: .9;
		}

		&:before {
			display: block;
			position: absolute;
			top: 9px;
			content: '';
			border-style: solid;
			border-width: 1px;
			transform: rotate(-45deg);
			@include square(9px);
		}

		& + * {
			margin-left: 5px;
		}
	}

	.bx-prev {
		float: left;
		font-size: 0;
		text-indent: -9999px;

		&:before {
			left: 12px;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
		}
	}


	.bx-next {
		font-size: 0;
		text-indent: -9999px;
		float: right;

		&:before {
			left: 7px;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
		}
	}
}

.feedback-form-inline {
	padding: 40px 0;

	.form-head {
		font-size: 20px;
		line-height: 1;
		font-weight: 700;
		margin-bottom: .75em;
	}

	.form-group {

		@media #{$md-min} {
			margin-bottom: 0;
		}
	}

	.row .row {

		.form-group {
			@media #{$md-max} {
				margin-bottom: 15px;
			}
		}
	}
}

.video {
	padding: 127px 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;

	@media #{$md-max} {
		padding: 90px 0;
	}

	@media #{$sm-max} {
		padding: 60px 0;
	}

	@media #{$xs-max} {
		padding: 30px 0 90px;
	}

	&:before {
		@include pos-a-l-t();
		@extend %full-screen;
		background: rgba($black,.2);
		display: block;
		content: '';
	}

	.box {
		border-radius: 4px;
		background: $white;
		padding: 60px 40px;
		font-size: 18px;
		line-height: 1.6666;
		max-width: 340px;
		position: relative;
		z-index: 2;

		@media #{$md-max} {
			padding: 30px 20px;
		}

		@media #{$sm-max} {
			padding: 25px 15px;
			max-width: 240px;
			font-size: 16px;
		}

		@media #{$xs-max} {
			padding: 20px 15px;
			max-width: none;
			font-size: 14px;
		}

		img {
			display: block;
			margin-bottom: 1em;
		}
	}

	.play {
		@include pos-a-l-t(50%,50%);
		@include square(109px);
		z-index: 10;
		display: block;
		text-decoration: none;
		margin: -55px 0 0 -55px;
		border-radius: 50%;
		overflow: hidden;
		background: $white url(#{$path-img}ico-play.png) no-repeat 50% 50%;
		transform: scale(1,1);
		transition: all .25s;
		outline: none !important;

		@media #{$sm-max} {
			@include square(70px);
			margin: -35px 0 0 -35px;
		}

		@media #{$xs-max} {
			top: auto;
			bottom: 0;
			@include square(50px);
			margin: 0 0 20px -25px;
			background-size: 18px 18px;
		}

		&:hover {
			transform: scale(1.1,1.1);
		}
	}
}

.video-modal {

	.modal-content {
		padding: 0;
	}
}

.domain {
	font-size: 14px;
	line-height: 50px;
	margin-left: 5px;

	& + .form-group {
		overflow: hidden;
	}
}

.functionality {
	padding: 80px 0 40px;

	@media #{$md-max} {
		padding-top: 60px;
	}

	@media #{$sm-max} {
		padding-top: 40px;
	}
}

.functionality-gallery {
	font-size: 17px;
	line-height: 1.33;
	margin-top: 2em;

	& > li {
		padding-bottom: 30px;
	}

	.list-title {
		display: block;
		margin-left: 32px;
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;

	& > li {
		padding-left: 32px;
		position: relative;
		margin: 1.22em 0;
		font-weight: normal !important;

		@media #{$sm-max} {
			font-size: 14px;
		}

		&:before {
			content: '';
			background: url(#{$path-img}check.png) no-repeat 0 0;
			position: absolute;
			top: 6px;
			left: 0;
			@include size(14px,11px);
			display: block;

		}
	}
}

.pricing {
	padding: 50px 0 22px;

	.col-price {
		font-size: 21px;

		.text {
			margin-top: 5px;
			font-size: 14px;
		}
	}

	.col-right {
		padding-top: 10px;

		.head-text {
			color: #EB7300;
			margin: .25em 0 1em;
			font-weight: 700;
			font-size: 16px;
			line-height: 28px;
		}
	}

	strong {
		font-size: 1.55em;
	}

	.row {

		& > div {
			margin-bottom: 1em;
		}
	}
}

.border-image {
	text-align: center;

	img {
		vertical-align: top;
		max-width: 100%;
	}
}

.benefits {
	padding: 90px 0 55px;

	@media #{$md-max} {
		padding: 60px 0 25px;
	}

	@media #{$sm-max} {
		padding: 40px 0 15px;
	}

	@media #{$xs-max} {
		padding: 30px 0 20px;
	}
}

.circle-ico-box {
	position: relative;
	overflow: hidden;
	font-size: 14px;
	line-height: 20px;
	margin: 15px 0;

	@media #{$xs-max} {
		margin: 10px 0;
	}

	strong {
		display: block;
		margin-bottom: 4px;
	}

	.text {
		overflow: hidden;
		padding: 7px 0;

		@media #{$lg-min} {
			max-width: 192px;
		}

		a {
			text-decoration: underline;
			color: $brand-color-1;
			margin-top: 4px;
			display: inline-block;
			vertical-align: top;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.ico-block {
		float: left;
		width: 80px;
		margin-right: 30px;
		margin-top: 10px;
		text-align: center;

		img {
			vertical-align: top;
			max-width: 100%;
			max-height: 100%;
		}

		@media #{$xs-max} {
			margin-right: 20px;
			@include square(50px);
		}
	}

	.ico {
		float: left;
		display: table;
		margin-right: 25px;
		@include circle(72px);
		border: 1px solid $light-grey;

		@media #{$xs-max} {
			margin-right: 20px;
			@include square(50px);
		}

		.cell {
			padding: 10px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			img {
				vertical-align: top;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

.testimonials {
	position:  relative;
	padding: 70px 0;

	@media #{$md-max} {
		padding: 60px 0;
	}

	@media #{$sm-max} {
		padding: 40px 0 ;
	}

	@media #{$xs-max} {
		padding: 30px 0;
	}

	.title-holder {
		position: relative;
		z-index: 10;
	}

	.brand-title {

		@media #{$md-min} {
			position: absolute;
			left: 0;
			top: 0;
			background-color: $white;
		}
	}

	.bx-viewport {

		@media #{$md-min} {
			padding-top: 135px;
		}
	}
}

.owl-stage-outer {
	margin: 0;
}

.owl-item {
	padding: 0 60px;
}

.testimonials-gallery {
	position: relative;
	font-size: 16px;
	line-height: 1.6;

	& > li {
		padding-bottom: 30px;
	}
	
	.owl-stage-outer {

		@media #{$md-min} {
			padding-top: 135px;
		}
	}

	.testimonial {
		font-style: normal;
		position: relative;
		padding: 0;
		margin: 0;
		font-size: inherit;

		.visual {
			margin-bottom: 25px;

			@media #{$md-min} {
				position: absolute;
				left: 0;
				bottom: 100%;
				margin-bottom: 50px;
				height: 70px;
				line-height: 70px;
			}

			img {
				max-height: 100%;
				max-width: 100%;
				vertical-align: middle;
				display: inline-block;
				vertical-align: middle;
				width: auto;
			}
		}

		.quote {
			display: block;
			margin-bottom: 1.25em;
			quotes: none;
		}

		.author {
			display: block;
			font-size: .875em;
			line-height: 1.4286;
			opacity: .95;
			font-style: normal;
		}
	}

	.info {
		max-width: 340px;
		margin-bottom: 3em;

		.name {
			font-size: 14px;
			line-height: 1.4286;

			strong {
				font-size: 1.715em;
				display: block;
				line-height: 1.1;
			}
		}

		.sep {
			margin: 1.5em 0
		}

		.task,
		.result {
			line-height: 1.25;

			strong {
				text-transform: uppercase;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.task {
			margin-bottom: .5em;
		}

		.result {

			strong {
				background-color: $brand-color-2;
				color: $white;
				padding: 3px 3px 0;
				line-height: 1;
				margin-bottom: 5px;
			}
		}
	}
}

.silimar {
	position: relative;
	padding: 60px 0;
	@extend .section-grey;
	font-size: 16px;
	line-height: 1.5;

	.list-holder {
		margin-bottom: 1em;
	}

	.list {
		font-size: 14px;
		line-height: 1.4285;

		& > li {
			padding-left: 28px;
			margin: 10px 0;
		}
	}

	@media #{$md-max} {
		padding: 50px 0;
	}

	@media #{$sm-max} {
		padding: 40px 0 ;
		font-size: 15px;
	}

	@media #{$xs-max} {
		padding: 30px 0;
		font-size: 14px;
	}

	.brand-title {
		font-weight: 400;
	}

	h3 {
		color: $black;
		font-size: 2em;
		margin: 0 0 1em;

		@media #{$sm-max} {
			font-size: 1.5em;
		}
	}

	h4 {
		font-size: 1.5em;
		margin: 0 0 1em;
		font-weight: normal;

		@media #{$sm-max} {
			font-size: 1.25em;
		}
	}

	h5 {
		font-weight: normal;
		font-size: inherit;
	}

	.vis {
		height: 80px;
		line-height: 80px;
		text-align: center;
		margin: 25px 0 35px;

		@media #{$xs-max} {
			height: 60px;
			line-height: 60px;
			margin: 20px 0;
			text-align: left;
		}

		img {
			vertical-align: middle;
			max-height: 100%;
			max-width: 100%;
		}
	}

	strong {
		display: block;
		font-size: 18px;
		color: #0a0a0a;
		margin: 0 0 10px 0;

		@media #{$md-max} {
			font-size: 16px;
		}
	}

	.visual {
		position: relative;
		text-align: center;
		margin-top: 3em;

		@media #{$md-min} {
			max-width: none;
			float: left;
		}

		@media #{$sm-max} {

			img {
				max-width: 100%;
			}
		}
	}

	.visual-hand {
		text-align: right;
		margin-right: -45px;

		@media #{$lg-min} {
			margin-top: -85px;
		}
	}

	.visual-ibp {

		@media #{$md-min} {
			float: right;
			max-width: 100%;
		}
	}
}

.order {
	position: relative;
	padding: 50px 0 80px;
	font-size: 14px;
	line-height: 24px;

	@media #{$md-max} {
		padding: 30px 0 60px;
	}

	@media #{$sm-max} {
		padding: 10px 0 40px;
	}

	@media #{$xs-max} {
		padding: 30px 0;
	}

	h3 {
		font-size: 30px;
		margin: 30px 0 .5em;

		@media #{$sm-max} {
			font-size: 26px;
		}

		@media #{$xs-max} {
			font-size: 22px;
		}
	}

	textarea {
		height: 260px;
	}

	.phone {
		font-size: 17px;
		font-weight: 700;
		margin: 18px 0 9px;
	}

	.address {
		margin-bottom: 30px;
	}

	.text {
		font-size: 18px;
		line-height: 28px;
	}
}

.btn-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 18px;
	margin-left: 30px;
}

.ruble {
	font-family: 'PT Sans', serif;
}

.user-head {
	display: block;
	font-size: 17px;
	line-height: 28px;
	margin: 0 0 1em;
}

.user-box {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px; 

	.visual {
		float: left;
		width: 110px;
		margin: 0 20px 0 0;

		img {
			max-width: 100%;
		}
	}

	.info {
		overflow: hidden;
		font-size: 14px;
		line-height: 16px;
	}
}

.mark-link {
	background-color: #F0AB00;
	color: $white;

	a {
		color: inherit;
	}
}

.head-section {

	.promo {

		.black-box {
			background: rgba(#000,.8);
			font-size: 24px;
			line-height: 1.3248;
			margin: 0 -30px;
			padding: 10px 30px;
			font-weight: 400;
		}

		.black-box-holder {
			padding: 0 70px 0 30px;

			@media #{$sm-max} {
				padding-right: 30px;
			}
		}
	}
}

.form-result {
	@extend .modal-title;
	margin-bottom: 0;
}

.submit {

	form {
		max-width: none;
	}

	.modal-content > .modal-title,
	.modal-body,
	.modal-footer {
		display: none;
	}
}

.screens-panel-section {

	.row {
		@include custom-row(40px);
	}

	.head {
		text-align: center;
		font-size: 20px;
		line-height: 1.55;
		margin: 0 auto 2em;
		max-width: 580px;
	}

	h3 {
		font-size: 2em;
		margin: 0 0 1em;
		font-weight: 400;
		padding-left: 32px;

		@media #{$sm-max} {
			font-size: 1.5em;
		}
	}

	p {
		padding-left: 32px;
		font-size: 14px;
		line-height: 24px;
		margin: 1.5em 0;
	}

	.brand-title {
		text-align: center;
		margin: 1.5em 0 .5em;
		font-size: 1.8em;
	}

	.row {		
		padding-top: 3em;
	}

	.text {
		padding-left: 60px;

		@media #{$md-max} {
			padding-left: 30px;
		}

		@media #{$sm-max} {
			padding-left: 10px;
		}
	}

	.screen {
		position: relative;
		display: inline-block;
		vertical-align: top;

		@media #{$sm-max} {
			margin-bottom: 30px;
			text-align: center;
			display: block;
		}

		img {
			vertical-align: top;
			max-width: 100%;
		}
	}

	.show-screens {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 210px;
		height: 50px;
		line-height: 30px;
		padding: 10px;
		text-decoration: none;
		outline: none;
		color: $white;
		font-size: 14px;
		margin: -25px 0 0 -110px;
		border-radius: 4px;
		overflow: hidden;
		white-space: nowrap;
		text-align: center;
		display: block;
		z-index: 10;
		background-color: rgba(#0090d6,.4);
		transition: all .25s;

		&:hover {
			background-color: rgba(#0090d6,1);
		}
	}

	.show-screens-0 {
		margin-top: 0;
		top: 36%;
	}

	.show-screens-1 {
		margin-top: 0;
		top: 46%;
	}

	.show-screens-2 {
		margin-top: 0;
		top: 35%;
	}

	.show-screens-3 {
		margin-top: 0;
		top: 14%;
	}

	.show-screens-4 {
		margin-top: 0;
		top: 35%;
	}
}

.load-presentation {
	position: relative;
	text-align: center;

	strong {
		font-size: 14px;
		margin: 0 25px;

		@media #{$sm-max} {
			margin: 0;
			display: block;
		}
	}

	.btn {
		margin: 0 25px;

		@media #{$sm-max} {
			margin: 15px 0 0;
		}
	}
}

.screen-modal {
	color: #fff;

	.close {
		right: 0;
		bottom: auto;
		top: 5px;
		margin: 0;
	}
	

	.modal-dialog {
		width: auto;
		max-width: 1300px;
		padding: 0 20px;
		margin-top: 25px;
	}

	.modal-content {
		background: none;
		padding: 0;
	}

	.modal-title {
		font-size: 26px;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0 90px;

		@media #{$sm-max} {
			margin: 0 40px;
		}
	}
}

.screen-slider {
	position: relative;
	text-align: center;
	white-space: nowrap;

	.owl-item {
		padding: 0;
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	.owl-nav {
		margin-top: 14px;
	}

	.slide-title {
		margin: .5em 90px;
		white-space: normal;

		@media #{$sm-max} {
			margin-left: 40px;
			margin-right: 40px;
		}
	}

	img {
		display: block;
		max-width: 100%;
		vertical-align: top;
	}
}

.row-small {
	@include custom-row(16px);
}

.content-box {
	padding: 3em 0;

	.circle-ico-box {

		.text {
			max-width: 280px;
		}
	}
}
